<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>{% block title %} Ella Li | About {% endblock %}</title>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  {% block styles %}{% endblock %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/style1.css' %}">  
</head>

<body>
<!-- Navbar -->
<div class="wrapper">
    
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div id="navbar">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="{% url 'cover' %}">Ella Li</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'website:about' %}">About</a></li>
          <li><a href="{% url 'website:project_index' %}">Projects</a></li>
          <li><a href="{% url 'website:work' %}">Work</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class = "pink-separator"> 
</div>

{% block body_block %}
<!-- Home -->

<div class="container-fluid">    

  <div class="row">

  <!-- <div class="col-sm-7"> -->
    <div id="left">
      <h1 class = "my-name">Hi, I'm Ella!</h1>
      <div class="css-typing">
        <p>I am currently studying computer science at the</p>
        <p>University of Toronto in Ontario, Canada 🇨🇦</p>
      </div>
   <!-- 
      <div id="social">
      <a href="https://www.linkedin.com/in/pmajoni">LinkedIn</a>| <a href="https://github.com/pmajon">GitHub</a>| <a href="https://www.facebook.com/pelagiamaria.majoni.3"> Facebook</a>| <a href="https://documentcloud.adobe.com/link/track?uri=urn:aaid:scds:US:f5072705-6a2c-4039-940d-23f4736105ed"> Resume</a>| <a href="https://docs.google.com/document/d/1-4_RZvkneNjTGh06IO4oxVDhXJ10xXo9QaPnldKfiYA/edit?usp=sharing"> Failure Resume</a>
      </div>-->
    
          <div class="txt">
            <div class = "more-about-me">
            I’m interested in machine learning and I love creating coding projects. In my spare time, I’m either making YouTube videos, drawing on my iPad, or watching kdramas. 
            <br>
            <br>
            Feel free to check out my completed projects and both past and current work experiences! 
            <br>
            <br>
            <br>
            <span class='strong'>Main skills (my 🍞 and my 🧈)</span>
            <div class = "in-between"></div>
            Python <span class='separator'></span>
            JavaScript <span class='separator'></span>
            jQuery <span class='separator'></span>
            HTML & CSS
            <br>
            <br>
            <br>
            <span class='strong'>Additional skills</span>
            <div class = "in-between"></div>
            Django <span class='separator'></span>
            Google App Engine<span class='separator'></span>
            <br>
            <br>
            <br>
            <br>
          </div>

            <div id = "social">
            <a target="_blank" href="#">Resume</a>
            <span class='separator'>|</span>
            <a target="_blank" href="https://www.linkedin.com/in/ella-li-2506901a7/" class="copy_body_link">LinkedIn</a>
             <span class='separator'>|</span>
            <a target="_blank" href="https://github.com/ellali824" class="copy_body_link">Github</a>
             <span class='separator'>|</span>
            <a href="mailto:ellay.li@mail.utoronto.ca?subject=Hello" class="copy_body_link">Email</a>
            <span class='separator'>|</span>
            <a href="https://youtube.com/sarangheart" target="_blank">YouTube</a>
          </div>
          
          </div>
    </div> <!--end of class left-->

    <!--</div> -->

    <!-- <div class="col-sm-5"> -->
      <div id="right"> <img src="{% static "img/website-pic.jpeg" %}" class="img-responsive" style="width:100%;" alt="Image"></div>
  <!-- </div> -->

  </div> <!--end of class row-->
</div> <!-- end of container-fluid-->
{% endblock %}


<!-- Footer -->
  <!-- FOOTER -->
    <div class="container-footer">
      <div class="footer">
        <hr class="footer-hr">
        Made with ☕ and 🥑 by Ella Li
      </div>
    </div>
  </div>
</div> <!-- end of wrapper-->

</body>
</html>
















