/******************** GENERAL ********************/
* {
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  position: relative;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  margin: 0;
  min-height: 100%;
  font-size: 100%;
  line-height: 1.25rem;
  scroll-behavior: smooth;
  overflow-x: hidden !important;  
}

.container {
   margin-left: auto;
   margin-right: auto;
   width: 80%;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 0px;
  background-color: #fff0f7;
}


/**Start Navbar**/
.navbar {
  margin-bottom: 0;
  border: 0;
  background-color: #fff0f7 !important;
}

#navbar .navbar-nav li a, #navbar .navbar-header a{
  font-size: 18px;
  font-family: 'Roboto', monospace;
  text-transform: uppercase;
  color:black; 

}
.pink-separator{
  height: 3px;
  margin-top: 5px;
  background-color: #bddcff;
}

#navbar .navbar-nav li a:hover, #navbar .navbar-header a:hover {
  color: #A4CEFF;
}
.css-typing a:hover{
  color: #A4CEFF;
}

.container-fluid a{
  text-decoration: none;  
}
.container-fluid{
  background-color: #fff0f7 ;
  padding-top: 10px; 
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 100%;
  
}
@media (min-width:320px){
  .container-fluid{
  padding-left: 40px;
  padding-right: 40px !important;
  }

}
/**End Navbar**/


/* FOOTER */
.footer {
  position: absolute;
  bottom: 0;
  width: 80%;
  margin-bottom: 15px;
  font-weight: 100;
  font-family: "Roboto",monospace;
  font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
  text-align: center;
  margin-left: 10%;
  margin-right: 10%
}

.footer-name {
  text-decoration: none;
}

.footer-hr {
  margin-top: 35px;
  margin-bottom: 15px;
  border-width: 0;
  border-top: 3px solid #bddcff;
  width: 100%;
  text-align: center;
}
/**End Footer**/

/******************** PROJECTS ********************/

.flex-container {
  height: 100%;
  width: 100%;
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-item {
  margin: 20px;
  background-color: #bddcff;
  position: relative;
  width: 45%;
}

.flex-title{
  position: absolute;
  overflow: scroll !important;
  white-space: nowrap;
  text-align: center;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: calc(14px + (24 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(25px + (45 - 25) * ((100vw - 300px) / (1600 - 300)));
  font-family: 'Roboto', monospace;
  opacity: 0;
  color: black;
}
.project-title{
  font-size: calc(14px + (24 - 14) * ((100vw - 300px) / (1600 - 300)));

}
@media only screen and (min-width: 1144px) and (max-width: 1564px) {
  .flex-title{
    font-size: 16px;
  }

}
@media only screen and (min-width: 890px) and (max-width: 1144px) {

  .project-title{
    font-size: 24px;
  }
  .flex-title{
    font-size: 22px;
  }

}

.project-meta{
  color: #515151;
}
.flex-img {
  z-index: 100;
  height: 100%;
}

.flex-img img {
  width: 100%;
  height: 100%;
}

.flex-item:hover img {
  opacity: 0;
  transition-duration: 0.40s;
  transition-timing-function: ease-in-out;
}

.flex-item:hover .flex-title {
  opacity: 1;
  transition-duration: 0.40s;
  transition-timing-function: ease-in-out;
}

.column {
  width: 40%;
}


/****************** MEDIA QUERIES ******************/

@media only screen and (max-width: 1143px) {

  .flex-item {
    width: 90%;
  }
}

@media only screen and (min-width: 640px) and (max-width: 940px) {

  .body {
    font-size: 200%;
  }

  .container {
     margin-left: auto;
     margin-right: auto;
     width: 85%;
   }

  .flex-item {
    width: 100%;
  }
}

@media only screen and (max-width: 640px) {

  .body {
    font-size: 300%;
  }

  .container {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  .footer {
    position: absolute;
}

  .flex-item {
    width: 100%;
  }
}