/**Global**/
html, body{
  scroll-behavior: smooth;
  overflow-x: hidden !important;  
  height: 100%;
  padding: 0;
  
}
.body{
  height: 100vh;
  padding: 0;
}

.container-fluid a{
  text-decoration: none;  
}
.container-fluid{
  background-color:  #fff0f7;
  padding-top: 10px; 
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 100%;  
}
@media (min-width:320px){
  .container-fluid{
  padding-left: 40px;
  padding-right: 40px !important;
  }
}
/**End Global**/


/**Start Navbar**/
.navbar {
  margin-bottom: 0;
  border: 0;
  background-color:  #fff0f7 !important;
}
#navbar .navbar-nav li a, #navbar .navbar-header a{
  font-size: 18px;
  font-family: 'Roboto', monospace;
  text-transform: uppercase;
  color:black; 

}
.pink-separator{
  height: 3px;
  margin-top: 5px;
  background-color: #bddcff;
}

#navbar .navbar-nav li a:hover, #navbar .navbar-header a:hover {
  color: #A4CEFF;
}
.css-typing a:hover{
  color: #A4CEFF;
}
/**End Navbar**/


/**Start Home**/
#left{
  font-size: 1.125em;
  line-height: 1.3em;
  font-family: "Roboto",monospace;
  color: #000000;
  float: left;
  width: 50%;
}
@media (max-width: 1080px) { /* may need to fix*/
  #left{
    font-size: 1.125em;
    line-height: 1.3em;
    font-family: "Roboto",monospace;
    color: #000000;
    margin-left: 10%;
    width: 80%;
    margin-right: 10%
  }
}

#left #social a{
  font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300))) !important;
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
  font-weight: bold;
  color: black;
}


#left ul a:hover, .css-typing a, #left #social a:hover {
  color: #A4CEFF;
}
.css-typing a, #left ul a{
  color:white
}
#left {
  margin-top: 30px;
}
#right {
  margin-top: 30px;
  margin-left: 0px;
  margin-bottom: 10px !important;
  float: right;
  width: 45%;
}
@media (max-width: 1080px) { /* may need to fix*/
  #right {
    margin-top: 30px;
    margin-left: 0px;
    margin-bottom: 10px !important;
    width: 100%;
  }
}

#left ul a:hover {
  color: #A4CEFF;
}
#left ul a{
  color:white
}
#left .txt{
  margin-top: 30px;
}

.my-name{
  font-family: "Roboto",monospace;
  font-size: calc(30px + (60 - 30) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}

.more-about-me{
  font-family: "Roboto",monospace;
  font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
  /*margin-right: 10px !important;*/
}
.strong{
  font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300))) !important;
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
  font-weight: bold;
  border-bottom: 3px solid #A4CEFF;
  padding-bottom: -3px;

}
.separator {
  margin: 10px;
}
.in-between{
  height: 6px;
  background-color: transparent;
}
/**Start Type Writer Effect**/
.css-typing p {
  font-family: "Roboto",monospace;
  font-size: calc(16px + (30 - 16) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
  
  overflow: hidden;

}
@media (min-width: 1550px) { /* big landscape tablets, laptops, and desktops */ /*1025*/
  
  .css-typing p {
  white-space: nowrap;
  }    
  .css-typing p:nth-child(1) {
    width: 25em; /* manually set width */
    height: 1.8em;
    padding-top: 15px;
    -webkit-animation: type 2s steps(40, end);
    animation: type 2s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .css-typing p:nth-child(2) {
    width: 800px; /* manually set width */
    padding-top: 7px;
    height: 1.8em;
    opacity: 0;
    -webkit-animation: type2 2s steps(40, end);
    animation: type2 2s steps(40, end);
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  @keyframes type {
    0% {
      width: 0;
    }
    100% {
      border: none;
    }
  }
  @-webkit-keyframes type {
    0% {
      width: 0;
    }
    100% {
      border: none;
    }
  }
  @keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  @-webkit-keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
}
/**End TypeWriter Effect **/

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 0px;
  background-color: #fff0f7 !important;

}
/**End Home**/


/**Start Footer**/
.footer {
  position: absolute;
  bottom: 0;
  width: 80%;
  margin-bottom: 15px;
  font-family: "Roboto",monospace;
  font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
  text-align: center;
  margin-left: 10%;
  margin-right: 10%
}

.footer-name {
  text-decoration: none;
}

.footer-hr {
  margin-top: 35px;
  margin-bottom: 15px;
  border-width: 0;
  border-top: 3px solid #bddcff;
  width: 100%;
  text-align: center;
}

@media (max-width: 1080px) { /* may need to fix*/
  .footer {
    position: relative;
}
}
/**End Footer**/
